body, html {
    padding: 0;
    margin: 0;
    overflow: hidden; 
    height: 100%; 
    background: none;
}

html {
    --color: white;
    height: 100vh; 
    scroll-behavior: smooth;
}

body {
    background: var(--color);
}

/*Cabecera https://kennethnym.com/blog/progressive-blur-in-css/*/
header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: fixed;
    backdrop-filter: blur(10px);
    left: 0;
    width: 100%;
    z-index: 9999; 
    padding: 10px 0; 
    text-align: center; 
}

.cabecera {
    margin: 10px 40px;
    font-size: 20px;
    position: relative;
    color: black;
    text-decoration: none; 
    cursor: pointer; 
}

.cabecera::after {
    content: ''; 
    position: absolute;
    left: 0;
    height: 2px;
    background-color: black;
    width: 100%; 
    transition: all 0.3s ease-in-out; 

    top: 50%; 
    transform: translateY(-50%);
}

.cabecera:hover::after {
    top: 100%; 
    transform: translateY(0);
}

/*Section general y Container*/

.container {
    overflow: hidden;
    margin-top: 60px; 
}


.section {
    height: 100vh; 
    padding: 20px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Inicio*/

.inicio{
    display: flex;
    flex-direction: column;
}

/*Presentación*/

.presentacion p {
    margin: 20px 0;
}

/*Cv*/

.cv {
    padding: 20px; 
    color: white;
    display: flex;
    flex-direction: row;
}

.izquierda{
    padding: 100px 60px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    text-align: left;
    width: 60%;
    height: 100vh;
}
.izquierda>h2{
    text-decoration: underline;
    text-decoration-color: #0ACF83;
    text-decoration-thickness:3px;

}
.infoCvDetalle{
    margin-left: 50px;
}
.textoYcalendario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendario{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.calendario>p{
    margin-left: 10px;
}
.calendario>img{
    width: 30px;
    height: 33px;
}
.botonDescargar{
    top: 1000px;
    cursor: pointer;
    transition: opacity 2s ease;

}

/* Contenedor principal del slider */
.sliderPrincipal {
    width: 100%;
    overflow: hidden;
    position: relative;mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), black 10%, black 90%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), black 10%, black 90%, rgba(0, 0, 0, 0));
}

.sliderImagenesArriba, .sliderImagenesAbajo {
    animation-play-state: paused;

}

.slider {
    display: flex;
    min-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.slider > img {
    height: 39px;
    margin-left: 20px;
}

/* Animaciones separadas para los sliders */
@keyframes slide-animationArriba {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide-animationAbajo {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.sliderImagenesArriba {
    animation: slide-animationArriba 40s infinite linear;
    animation-play-state: paused; 
}

.sliderImagenesAbajo {
    animation: slide-animationAbajo 60s infinite linear; 
    animation-play-state: paused; 
}


.sliderPrincipal:hover .sliderImagenesArriba {
    animation-play-state: paused;
}

.sliderPrincipal:hover .sliderImagenesAbajo {
    animation-play-state: paused; 
}

.sliderPrincipal .sliderImagenesArriba,
.sliderPrincipal .sliderImagenesAbajo {
    animation-play-state: running;
}

.derecha{
    text-align: center;
    width: 20%;
    height: 100vh;
    border-style: hidden hidden hidden dashed;
    border-width: 1px;
    z-index: 9999999;   
}

.botonWrapper{
    text-align: -webkit-center;
}
/*Diseño desponsive para modificar el botón*/
@media screen and (max-width:800px) {
    .derecha{
        display: none;
    }
} 
/*Footer*/

.footer {
    color: green;
    height: 400px;
}


