body, html {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-image: url(/img/fondoo.png);
    background-repeat: repeat;
    background-size:9%;
    background-attachment: fixed;
    overflow-x: hidden;
}



/*Cabecera https://kennethnym.com/blog/progressive-blur-in-css/*/

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    backdrop-filter: blur(10px);
    left: 0;
    width: 100%;
    z-index: 9999; 
    padding: 30px 0; 
    height: 50px;
    transition: background-color 0.3s ease; /* Animación suave */
    text-align: center; 
}

.cabecera {
    margin: 10px 120px;
    font-size: 25px;
    position: relative;
    color: #0F172A;
    text-decoration: none; 
    cursor: pointer; 
    font-weight: 500;
}

header a{
    transition: color 0.5s ease; 
}
.cabecera::after {
    content: ''; 
    position: absolute;
    left: -10%;
    height: 2px;
    background-color: #0F172A;
    width: 120%;
    transition: all 0.3s ease-in-out; 
    top: 50%; 
    transform: translateY(-50%);
}

.cabecera:hover::after {
    top: 100%; 
    transform: translateY(0);
}

.cabecera-verde {
    color: #0ACF83 !important; /* Cambia el color de las letras a verde */
}

.cabecera-verde::after {
    background-color: #0ACF83 !important; /* Cambia la línea decorativa a verde */
}

/* INICIO */

.inicio{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #0F172A;
    height: 100vh;
    position: relative;
}
.nombreTitulo>h1{
    display: flex;
    flex-direction: column;
    font-weight: 200;
}
.nombreTitulo{
    font-size: 45px;
}


.wrapped {
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 50px; 
    align-items: center;
    font-weight: 200;
    gap: 10px; 
}

.wrapped h2{
    font-weight: 400;
    font-size: 30px;
}

.palabras {
    overflow: hidden;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative; 
}

.palabras span {
    display: block;
    height: 50px; 
    line-height: 50px;
    font-weight: 400;
    padding-left: 10px;
    font-size: 30px;
    animation: spin_words 12s  infinite; 
    text-align: left; 
}


@keyframes spin_words {
    0% {
        transform: translateY(0%);
    }
    20% {
        transform: translateY(-100%);
    }
    40% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-300%);
    }
    80% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(-500%);
    }

}

.letraStrong{
    font-weight: 700;
}

.bola{
    background-color: #0F172A;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    position: absolute;
    bottom: 70px;
    transition: all 0.3s ease;
}

.bola:hover{
    background-color: #0ACF83;
}


/*Sobre mí*/

.sobreMi{
    height: 100vh;
    background-color: #0F172A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
}

.sobreMi h1{
    font-size: 25px;
    margin-bottom: 10px !important;
}

.sobreMi h2{
    font-weight: 400;
    text-align: center;
    padding: 0px 100px;
    text-align: center;
}

.sobreMi p{
    font-weight: 200;
    font-size: 18px;
    width: 100%;
    padding: 0px 0px;
    text-align: center;
    word-spacing: 3px;
    width: 80%;
}

.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em 1.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    color:white;
    background: transparent;
    text-decoration: none;
    border: 2px solid white; 
    border-radius: 50px; 
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

@media (hover: hover) {
    .button.button--stroke:hover {
        color: #001F3F;
        text-decoration: none;
    }
}

.button--stroke:after {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.button--stroke:after {
    border: 0.125rem solid var(--color-surface-white);
    border-radius: 6.25rem;
    content: "";
    pointer-events: none;
}

.button__label {
    position: relative;
    text-align: center;
    transition: color 50ms var(--ease-in-out-quart);
}

.button--stroke:hover .button__label {
    transition: color 0.15s var(--ease-in-out-quart);
}

.button__flair {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.button--stroke .button__flair {
    transform: scale(0);
    transform-origin: 0 0;
    will-change: transform;
}

.button__flair:before {
    aspect-ratio: 1/1;
    background-color:white;
    border-radius: 50%;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    width: 170%;
}
  
.botonMovil{
    display: none;
}
.habilidadesTecnicas{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.fotosHabiliadesTecnicas img{
    width: 50px;
    height: 50px;
    align-content: left;
    margin-top: 60px;
    padding-left: 20px;

}
.letrasHabilidadesTecnicas{
    width: 40%;
}
.letrasHabilidadesTecnicas h2{
    text-align: left;
    margin-top: 60px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: #0ACF83;
    text-underline-offset: 5px;
    width: 100%;
    align-content: center;    
}


/*Proyectos*/

.proyectos {
    margin-top: 170px;
}

.tarjetasProyectosPrincipales{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative; 
    overflow: hidden;
    align-items: center;
    margin-top: -50px;
}

.tarjetasProyectosPrincipales h2{
    margin-bottom: 50px;
    font-size: 30px;
}
.card {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 0;
    border-radius: 20px;
    background-color: blue;
    margin-bottom: 130px;
}

.proyectosSecundarios{
    height: 60vh;
    display: none;
}

.proyectosSecundarios img{
    height:336px ;
    width: 480px;
}

.botonesProyectos{
    margin: 50px;
}

.botonesAppyPrototipo{
    flex-wrap: wrap;
}

.botonesAppyPrototipo button{
    margin-bottom: 20px;
}

/*Mapamundi*/

.proyectoMapamundi{
    background-color: #283856;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.imagenMapamundi {
    width: 50%; 
    height: 100%;
    overflow: hidden; 
    position: relative;
}

.imagenMapamundi img {
    position: absolute; 
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
    width: auto; 
    height: 120%; 
    object-fit: cover;
}


.letrasMapamundi{
    color: white;
    width: 50%;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -40px;
}

.letrasMapamundi p{
    font-weight: 200;
}

.letrasMapamundi h1{
    font-family: "Jolly Lodger", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin: 0;
}

.letrasMapamundi button{
    cursor: pointer;
    color: black;
    background-color: white;
    font-family: "Jolly Lodger", serif;
    font-weight: 400;
    width: 160px;
    height: 40px;
    font-style: normal;
    font-size: 25px;

    border-radius: 50px;
}

.botonesAppyPrototipo{
    align-content: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/*Plans Landing*/


.blur-background {
    position: absolute;
    top: 10%; 
    left: 10%; 
    width: 80%; 
    height: 80%;
    background: radial-gradient(circle, rgba(50,150,10, 1) 2%, rgba(0, 0, 0, 1) 100%);
    border-radius: 50%;
    filter: blur(20px); 
    z-index: 0; 
}

.letrasMovieList p{
    width: 80%;
    font-weight: 200;
}

.letrasMovieList span{
    display: none;
}

.logoPlans img{
    width: 100%;
}
.logoPlans img{
    height: 8vh;
}


.letrasPlansLanding button{
    cursor: pointer;
    color: black;
    background-color: white;
    font-family: 'Inter', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px !important;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    position: relative;
    width: 170px;
    height: 40px;
    transition: all 0.5s;
}


/*MovieList*/
.proyectoMovieList{
    background-color: #151515;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -40px;

    width: 100%;
    align-items: center;
}
.imagenMovieList img{
    height: 50vh;
}
.imagenMovieList{
    width: 40%;
    margin: 10px 15px;
}
.letrasMovieList{
    color: white;
    width: 50%;
    padding: 50px;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.letrasMovieList button{
    cursor: pointer;
    color: black;
    background-color: white;
    font-family: 'Inter', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px !important;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    width: 170px;
    height: 40px;
    transition: all 0.5s;
}

.card {
    width: 70vw; 
    height: 60vh; 
}

/*Contacto*/

.contacto {
    background-color: #0F172A;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px ;
    height: 70vh;
}



.contacto h2 {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.blurContacto {
    background-color: #0F172A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px); /* Desenfoque */
    border-radius: 20px;
    padding: 40px;
    width: 80vw;
    max-width: 800px;
}

form {
    max-width: 800px;
    width: 80vw;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 20px;
}

.campoFormulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.campoFormulario input{
    max-width: 800px;
    width: 80vw;
    padding: 10px;
    font-size: 18px;
    background-color: #0F172A;
    border: white 1px solid;
    border-radius: 20px;
    outline: none;
    height: 30px;
    color: white;
    padding-left: 20px;
    font-weight: 300;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.campoFormulario input::placeholder {
    color:white;
    font-weight: 200;
    font-family: 'Inter';
  }

.campoFormulario input:focus {
    border-color: #0ACF83;
    box-shadow: 0 0 8px rgba(36, 143, 59, 0.8);
}

.campoFormulario input:-webkit-autofill { background-color: #0F172A; }

.campoFormulario input#asunto {
    height: 150px; 
    text-align: left; 
    overflow-y: auto; 
    display: block; 
}

.campoFormulario textarea{
    max-width: 800px;
    width: 80vw;
    font-weight: 300;

    height: 200px;
    padding: 10px;
    font-size: 18px;
    background-color: #0F172A;
    border: white 1px solid;
    border-radius: 20px;
    outline: none;
    color: white;
    padding-left: 20px;
    font-family: 'Inter';
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.campoFormulario textarea::placeholder {
    color:white;
    font-weight: 200;
    font-family: 'Inter';
  }

.campoFormulario textarea:focus {
    border-color: #0ACF83;
    box-shadow: 0 0 8px rgba(36, 143, 59, 0.8);
}

.campoFormulario textarea:-webkit-autofill { background-color: #0F172A; }

.campoFormulario textarea#asunto {
    height: 150px; 
    text-align: left; 
    overflow-y: auto; 
    display: block; 
}

.campoFormulario button{
    margin-top: 40px;
    width: 150px;
    height: 45px;
    font-family: 'Inter';
    border-radius: 50px;
    background-color: #0F172A;
    font-size: 18px;
    border: white 1px solid;
    color: white;
    transition: 0.3s;

}

.campoFormulario button:hover{
    transition: 0.3s;
    font-weight: 500;
    background-color: #fff;
    color: #0F172A;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #0F172A inset;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #0F172A inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    font-family: 'Inter';
}

textarea:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    font-family: 'Inter';
}

input.filled {
    border-color: #0ACF83;
}

textarea.filled{
    border-color: #0ACF83;
}
/*Footer*/
footer {
    background: linear-gradient(135deg, #0F172A, #1E293B);
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

footer .footerContent {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .footerContent .brand {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display:flex ;
    align-items: center;

    flex-direction: row;
}

.brand h2{
    
    text-decoration: underline;
    text-decoration-color: #0ACF83;
    text-underline-offset: 5px;
}


.brand p{
    padding-left: 60px;
    font-size: 18px;
    font-weight: 200;
}
footer .footerContent .socials {
    display: flex;
    gap: 15px;
}

footer .footerContent .socials img {
    height: 35px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-right: 30px;
}

footer .footerContent .socials img:hover {
    transform: scale(1.2);
}


/*Scroll hacia arriba*/
.scroll-to-top {
    position: fixed;
    bottom: 60px; 
    right: 60px; 
    width: 50px;
    height: 50px;
    background-color: #243356;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #0ACF83;
    color: #0d734c;
}
